*{
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    background-image: url(/1.jpg);
    background-size: cover;
}
canvas{
    width: 800px;
    height: 500px;
    border: 30px solid #800000;
    border-radius: 15px;
    background-color: white;
}

.button{

}

button{
    background-color:rgb(123, 10, 123) ;
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    /* margin-top: 10px; */
    border: 0;
    border-radius: 10px;
}